:root {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg-color);
  color: var(--font-color);
}

nav {
  background: var(--heading-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
}

nav div {
  width: 15%;
  padding: 1rem;
}

.logo {
  font-weight: 800;
  letter-spacing: 0.2rem;
}

.mode-links {
  display: flex;
  list-style-type: none;
}

.mode-links li {
  margin: 0 auto;
}

a {
  color: var(--font-color);
  padding: 10px;
  font-size: 1.5rem;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

.help {
  text-align: right;
}

main {
  min-height: calc(100vh - 4rem); /* minus the height of the navbar */
  display: grid;
  place-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  border: 5px solid var(--heading-color);
}

h2 {
  text-align: center;
  padding: 1rem;
  margin-bottom: 0.5rem;
  letter-spacing: 0.2rem;
  font-weight: 800;
  font-size: 2rem;
}

form {
  width: 100%;
  display: grid;
  place-items: center;
}

#key {
  box-sizing: border-box;
  width: 93%;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  text-align: center;
}

textarea {
  resize: none;
  max-width: 100%;
  padding: 1rem;
  border-radius: 5px;
  margin: 1rem;
  border: none;
}

.btn-container {
  display: flex;
  place-content: center;
  gap: 1rem;
  padding: 0.5rem;
}

.btn {
  box-sizing: border-box;
  background: #fff;
  border-radius: 5px;
  border-style: none;
  color: #3c4043;
  cursor: pointer;
  font-weight: 500;
  min-width: 50%;
  padding: 1rem;
  text-align: center;
}

.btn:hover {
  background: var(--heading-color);
  color: var(--font-color);
}

.btn:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.btn:focus {
  outline: none;
  border: 2px solid #4285f4;
}
\